//general
$primary-title: 'Fraunces', serif;
$primary-discription: 'Barlow', sans-serif;
$color-text: #333D4B;

.main__container {
  border-radius: 10x;
  background: url(../img/main-about_us.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 450px;
  margin-top: 45px;
}

.our-commitment {
  margin-top: 100px;

  .container-fluid {

    .row {

      .our-commitment__info {

        .our-commitment__info-img {
          width: 50%;
          float: left;

          img {
            padding-left: 20%;
            width: 445px;
            height: 520px;  
          }
        }

        .our-commitment__info-text {
          padding-top: 50px;
          padding-right: 100px;

          h2 {
            font-family: $primary-title;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: $color-text;
          }

          p {
            font-family: $primary-discription;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $color-text;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.cause-container {
  margin-top: 200px;
  text-align: center;

  .cause-info {
    margin: 0 40px;
    padding: 0 20px; 
    width: 50%;
    float: left;
  }

  .cause-img {
    position: relative;
    top: -200px;
    left: -100px;
    z-index: 2;
  }
}

.plan {
  margin-top: 100px;

  .container-fluid {

    .plan-works{
      margin-left: 85px;

      &__info {
        margin-bottom: 50px;

        .uk {
          position: absolute;
        }

        .canad {
          position: absolute;
          left: 455px;
        }

        .australia {
          position: absolute;
          left: 915px;
        }
      }

      &__card {
        

        ul {
          list-style: none;
          margin-left: 0;

          li {
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 75em) {
  .main__container {
    background: url(../img/Bitmap-about-us-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px;
    margin-top: 45px;
  }
  
  .our-commitment {
    margin-top: 100px;
  
    .container-fluid {
  
      .row {
  
        .our-commitment__info {
  
          .our-commitment__info-img {
            width: 40%;
            float: left;
  
            img {
              padding-left: 0;
              width: 281px;
              height: 470px;  
            }
          }
  
          .our-commitment__info-text {
            padding-top: 10px;
            padding-right: 100px;
  
            h2 {
              font-size: 32px;
            }
  
            p {
              font-size: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
  
  .cause-container {
    margin-top: 100px;
    text-align: start;
    background-color: #333D4B;
    height: 400px;

    .cause-info {
      margin: 0 10px;
      padding: 0 0;
      width: 50%;
      float: left;
    }
  
    .cause-img {
      position: relative;
      top: 0px;
      left: -50px;

      img {
        width: 320px;
        height: 380px;
      }
    }
  }
  
  .plan {
    margin-top: 80px;
  
    .container-fluid {
  
      .plan-works{
        margin-left: 0;
  
        &__info {
          margin-bottom: 50px;
  
          .uk {
            position: absolute;
          }
  
          .canad {
            position: absolute;
            left: 415px;
          }
  
          .australia {
            position: absolute;
            left: 725px;
          }
        }
  
        &__card {
          text-align: center;

          h2 {
            font-size: 24px;
          }
  
          ul {
            list-style: none;
            margin-left: 0;
  
            li {
              margin: 0 0 10px 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 62em) {
  .container-fluid {
    width: 768px;
    margin: 0 auto; 
  }

  .main__container {
    background: url(../img/Bitmap-about-us-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    margin-top: 45px;
  }
  
  .our-commitment {
    margin-top: 100px;
  
    .container-fluid {
  
      .row {
  
        .our-commitment__info {
  
          .our-commitment__info-img {
            width: 50%;
            float: left;
  
            img {
              padding-left: 0;
              width: 281px;
              height: 470px;  
            }
          }
  
          .our-commitment__info-text {
            padding-top: 10px;
            padding-right: 0;
          }
        }
      }
    }
  }
  
  .cause-container {
    margin-top: 200px;
    text-align: start;
    background-color: #333D4B;
    height: 500px;

    .cause-info {
      margin: 0 40px;
      padding: 200px 60px;
      width: 100%;
    }
  
    .cause-img {
      position: absolute;
      top: -120px;
      left: 120px;

      img {
        width: 573px;
        height: 320px;
      }
    }
  }
  
  .plan {
    margin-top: 100px;
  
    .container-fluid {
  
      .plan-works{
        margin-left: 0;
  
        &__info {
          margin-bottom: 50px;
  
          .uk {
            position: absolute;
            left: 55px;
          }
  
          .canad {
            position: absolute;
            left: 325px;
          }
  
          .australia {
            position: absolute;
            left: 575px;
          }
        }
  
        .plan-works__card {
          
          h2 {
            font-size: 24px;
            line-height: 36px;
          }
  
          ul {
            list-style: none;
            margin-left: 0;
  
            li {
              margin: 0 0 10px 0;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }

  .footer {
    margin: 100px 0;
    
  
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
  
      .footer-container {
        background-color: #2C343E;
        height: 270px;
        display: block;
        text-align: center;
        padding-top: 50px;
  
        .footer-logo {
          
          img {
            width: 283px;
            margin-left: 15px;
          }
        }
  
        .footer__nav {
          margin: 30px 20px 40px 0;

          a {
            font-size: 12px;
          }
        }
  
        .social-link {
  
          .social-list{
  
            .social-item {
  
              a {
                
                i {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 48em) {
  .body {
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    width: 375px;

    .row {
      
      .header__nav {
        position: relative;

        .nav-menu {
          opacity: 1;
          position: absolute;
          top: -25px;
          right: -20px;

          i {
            font-size: 25px;
          }
        }

        nav {
          opacity: 0;
        }
      }
    }
  }

  .main__container {
    background: url(../img/main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 5px;
  
    .row {
      
      .main__info {
        text-align: center;
        width: 100%;
        margin-left: 30px;
        margin-top: 55px;
  
        h1 {
          font-size: 28px;
          line-height: 28px;
          margin-bottom: 24px;
        }
      }
    }
  }

  .our-commitment {
    margin-top: 100px;
  
    .container-fluid {
  
      .row {
  
        .our-commitment__info {
  
          .our-commitment__info-img {
            width: 100%;
  
            img {
              padding-left: 0;
              width: 100%;
              height: 400px;  
            }
          }
  
          .our-commitment__info-text {
            padding-top: 100px;
            padding-right: 0;
            text-align: center;
  
            h2 {
              font-size: 32px;
            }
  
            p {
              font-size: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  .cause-container {
    margin-top: 150px;
    text-align: center;

    .cause-info {
      margin: 0 0;
      padding: 0 0;
      width: 100%;
      float: left;

      h2 {
        font-size: 28px;
        line-height: 28px;  
      }

      p {
        font-size: 15px;
        line-height: 25px;   
      }
    }
  
    .cause-img {
      position: relative;
      top: -450px;
      left: 70px;
      z-index: 2;

      img {
        width: 279px;
        height: 156px;
      }
    }
  }

  .plan {
    margin-top: 100px;
  
    .container-fluid {
  
      .plan-works{
        margin-left: 0;
        text-align: center;
  
        &__info {
          margin-bottom: 0;
          position: relative;
  
          h3 {
            margin-bottom: 30px;
          }
          .uk {
            position: absolute;
            left: 175px;
            top: 100px;
          }
    
          .canad {
            position: absolute;
            left: 175px;
            top: 450px;
          }
    
          .australia {
            position: absolute;
            left: 175px;
            top: 800px;
          }
        }
  
        &__cards {
          margin-top: 5px;
          
          .plan-works__card {
            margin-top: 105px;

            p {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .footer {
    margin: 100px 0;
  
  
    .container-fluid {
  
      .footer-container {
        height: 346px;
        text-align: center;
        display: block;
        padding-top: 50px;
        background-size: 100% 100%;

  
        .footer-logo {

          img {
            width: 188px;
            margin-left: 0;
          }
        }
  
        .footer__nav {
          margin-right: 20px;

          nav {

            .nav__list{
              margin-top: 35px;

              .nav__item {
                display: block;
                margin-top: 15px;
                
                a {
                  margin-left: 0;
                }
              }
            }
          }
        }
  
        .social-link {
          margin-top: 40px;

          .social-list{
  
            .social-item {
  
              a {
  
                i {
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}