@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

//general
$primary-title: 'Fraunces', serif;
$primary-discription: 'Barlow', sans-serif;
$color-text: #333D4B;


//Home page header
.body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 1440px;
  margin: auto;
  padding-top: 44px;

  .row {
    justify-content: space-between;
    align-items: center;

    .header__nav {

      .nav-menu {
        opacity: 0;
        position: absolute;
      }

      nav {

        .nav__list{
          list-style: none;

          .nav__item {
            display: inline-block;
            
            a {
              text-decoration: none;
              color: #83888F;
              font-family: $primary-discription;
              font-weight: 700;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.92px;
              text-transform: uppercase;
              margin-left: 33px;

              &:hover {
                color: $color-text;
              }
            }
          }
        }
      }
    }
  }
}

//main 
.main__container {
  border-radius: 15px;
  background: url(../img/header__img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  margin-top: 20px;

  .row {

    .main__info {
      width: 50%;
      float: left;
      margin-left: 86px;
      margin-top: 50px;

      h1 {
        font-family: $primary-title;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #F2F2F2;
        margin-bottom: 2rem;
      }

      p {
        font-family: $primary-discription;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;
        margin-bottom: 56px;
      }
      
      a {
        font-family: $primary-title;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        text-decoration: none;
        padding: 15px 31px 16px 31px;
        background-color: #0E8784;
        border-radius: 6px;

        &:hover {
          background-color: #66D2CF;
        }
      }
    }
  }
}

// our collection

.our-collection {
  margin-top: 250px;

  .container-fluid {

    .row {
      position: relative;

      .our-collection__bg {
        left: 240px;
        top: -30px;
        position: absolute;
        font-family: $primary-title;
        font-weight: 900;
        font-size: 155px;
        line-height: 25px;
        color: #83888f52;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
        z-index: -1;
      }

      .our-collection__cards {
        text-align: center;

        .our-collection__card {

          .our-collection__card-info {
            margin-top: 72px;
            padding: 0 37px 0 37px;
  
            h3 {
              font-family: $primary-title;
              font-weight: 900;
              font-size: 24px;
              line-height: 32px;
              color: $color-text;
            }
  
            p {
              font-family: $primary-discription;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $color-text;
            }
          }
        }
        
      }
    }
  }
}

// cause

.cause {

  .container-fluid {

    .cause-container {
      text-align: center;
      background-color: #2C343E;

      .cause-info {
        text-align: center;
  
        h2 {
          font-family: $primary-title;
          font-weight: 900;
          font-size: 40px;
          line-height: 48px;
          color: #FEFCF7;
          margin-bottom: 32px;
        }
  
        p {
          font-family: $primary-discription;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #FEFCF7;
          opacity: 0.8;
          margin: 0 250px;
        }
      }
  
      .cause-cards {
        margin: 3rem 0 0 1rem;
        
        &__card {
          padding: 4.5rem 5rem 10px 5rem;
          background: #0E8784;
          border-radius: 0.5rem;
          margin-left: 2rem;
          width: 30%;
          float: left;
          height: 350px;

          &-info {
            h3 {
              font-family: $primary-title;
              font-weight: 900;
              font-size: 1.5rem;
              line-height: 2rem;
              color: #FEFCF7;
            }
    
            p {
              font-family: $primary-discription;
              font-weight: 400;
              font-size: 1rem;
              line-height: 26px;
              color: #FEFCF7;
            }
          }
        }
      }
    }
  }
}

// plan

.plan {
  margin-top: 100px;

  .container-fluid {

    .plan-works{
      margin-left: 85px;

      &__info {
        margin-bottom: 150px;
        position: relative;

        h3 {
          font-family: $primary-title;
          font-weight: 900;
          font-size: 1.5rem;
          line-height: 2rem;
          color: $color-text;
          margin-bottom: 80px;
        }

        .sircle {
          position: absolute;
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 2px solid #0E8784;
          background-color: #fff;
        }

        .sircle-2 {
          position: absolute;
          left: 455px;
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 2px solid #0E8784;
          background-color: #fff;
        }

        .sircle-3 {
          position: absolute;
          left: 915px;
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 2px solid #0E8784;
          background-color: #fff;
        }

        .line {
          position: absolute;
          left: 5px;
          width: 910px;
          height: 0;
          border: 2px solid #FDD6BA;
          z-index: -1;
          bottom: -100px;
        }
      }

      &__cards {
        margin-top: 175px;

        .plan-works__card {

          span {
            font-family: $primary-title;
            font-weight: 900;
            font-size: 4.5rem;
            line-height: 4.5rem;
            color: #FDD6BA;
            margin-left: 0;
          }

          h2 {
            font-family: $primary-title;
            font-weight: 900;
            font-size: 2rem;
            line-height: 2rem;
            color: $color-text;
            margin-top: 38px;
          }

          p {
            font-family: $primary-discription;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.65rem;
            color: $color-text;
            margin-top: 43px;
            margin-right: 130px;
          }
        }
      }

      .btn-link {
        margin-top: 4rem;

        a {
          font-family: $primary-title;
          font-weight: 900;
          font-size: 18px;
          line-height: 25px;
          color: #FEFCF7;
          text-decoration: none;
          padding: 15px 31px 16px 31px;
          background-color: #0E8784;
          border-radius: 6px;

          &:hover {
            background-color: #66D2CF;
          }
        }
      }
    }
  }
}

//footer

.footer {
  margin: 140px 0;


  .container-fluid {
    padding-right: 0;
    padding-left: 0;

    .footer-container {
      background-color: #2C343E;
      height: 120px;
      margin-right: 0;
      margin-left: 0;

      .footer-logo {

        img {
          width: 236px;
          margin-left: 85px;
        }
      }

      .footer__nav {
        margin-right: 490px;

        nav {

          .nav__list{
            list-style: none;
  
            .nav__item {
              display: inline-block;
              
              a {
                text-decoration: none;
                color: #83888F;
                font-family: $primary-discription;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.92px;
                text-transform: uppercase;
                margin-left: 33px;
  
                &:hover {
                  color: #FEFCF7;
                }
              }
            }
          }
        }
      }

      .social-link {

        .social-list{
          list-style: none;

          .social-item {
            display: inline-block;
            margin-right: 15px;

            a {
              text-decoration: none;
              margin-right: 33px;

              i {
                font-size: 25px;
                color: #FEFCF7;

                &:hover {
                  color: #FDD6BA;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 75em) {
  .container-fluid {
    width: 60rem;
  }
  .body {
    margin: 0;
  }
  //main 
  .main__container {
  
    .row {
  
      .main__info {
        margin-top: 30px;
  
        h1 {
          font-size: 60px;
          line-height: 60px;
        }
      }
    }
  }
  
  // our collection
  
  .our-collection {
    margin-top: 150px;
  
    .container-fluid {
  
      .row {
  
        .our-collection__bg {
          left: 150px;
          font-size: 125px;
        }
  
        .our-collection__cards {
          text-align: center;
  
          .our-collection__card {
            margin-bottom: 25px;

            .our-collection__card-info {
              margin-top: 32px;
              padding: 0 97px;
            }
          }
        }
      }
    }
  }
  
  // cause
  
  .cause {
    
    .container-fluid {

      .cause-container {

        .cause-info {
          text-align: center;

          p {
            margin: 0 150px;
          }
        }
    
        .cause-cards {
          margin: 3rem 0 0 0;
          
          &__card {
            padding: 4.5rem 2rem 0 2rem;
            height: 362px;
            margin-left: 1rem;
            width: 31%;
          }
        }
      }
    }
    
  }
  
  // plan
  
  .plan {
    margin-top: 80px;
  
    .container-fluid {
  
      .plan-works{
        margin-left: 25px;
  
        &__info {
  
          .sircle-2 {
            left: 335px;
          }
  
          .sircle-3 {
            left: 670px;
          }
  
          .line {
            width: 670px;
          }
        }
  
        &__cards {
          margin-top: 175px;
  
          .plan-works__card {
  
            span {
              font-size: 4rem;
              line-height: 4rem;
            }
  
            p {
              margin-top: 33px;
              margin-right: 30px;
            }
          }
        }
  
        .btn-link {
          margin-top: 3rem;
        }
      }
    }
  }
  
  //footer
  
  .footer {
    margin: 100px 0;
  
    .container-fluid {
      
      .footer-container {
  
        .footer-logo {
  
          img {
            width: 195px;
            margin-left: 35px;
          }
        }
  
        .footer__nav {
          margin-right: 90px;
        }
      }
    }
  }
}

@media only screen and (max-width: 62em) {
  .container-fluid {
    width: 52rem;
    margin: 0;
    padding: 0;
  }

  .main__container {
    height: 500px;
    margin-top: 50px;
  
    .row {
  
      .main__info {
        width: 60%;
        margin-left: 58px;
        margin-top: 55px;
  
        h1 {
          font-family: $primary-title;
          font-size: 48px;
          line-height: 48px;
          color: #FEFCF7;
          margin-bottom: 24px;
        }
  
        p {
          font-size: 15px;
          line-height: 25px;
          margin-bottom: 56px;
        }
      }
    }
  }

  .our-collection {
    margin-top: 105px;

  .container-fluid {

    .row {

      .our-collection__bg {
        left: 100px;
        top: 30px;
        font-size: 120px;
      }

      .our-collection__cards {

        .our-collection__card {
          margin-top: 40px;

          .our-collection__card-img {
            width: 40%;
            float: left; 
          }

          .our-collection__card-info {
            margin-top: 22px;
            padding: 0 200px;
  
            p {
              font-size: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
  }

  .cause {

    .container-fluid {

      .cause-container {

        .cause-info {
          text-align: center;
    
          h2 {
            font-size: 32px;
          }
    
          p {
            font-size: 15px;
            line-height: 25px;
            margin: 0 30px;
          }
        }
    
        .cause-cards {
          margin: 3rem 0 0 0;
          transform: translate(13%, 0);
          
          &__card {
            padding: 0 60px 0 0;
            height: 180px;
            width: 70%;
            margin-bottom: 1.5rem;
            
            &-img {
              width: 30%;
              float: left;
              margin-top: 50px;
            }
    
            &-info {
              width: 70%;
              float: right;
              text-align: left;
      
              p {
                font-size: 15px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }

  .plan {
    margin-top: 40px;
  
    .container-fluid {
  
      .plan-works{
        margin-left: 35px;
  
        &__info {
          margin-bottom: 50px;
          position: relative;
  
          h3 {
            margin-bottom: 30px;
          }
          .sircle-2 {
            left: 305px;
          }
  
          .sircle-3 {
            left: 615px;
          }
  
          .line {
            top: 78px;
            width: 615px;
          }
        }
  
        &__cards {
          margin-top: 105px;
  
          .plan-works__card {

            span {
              font-size: 4rem;
              line-height: 4rem;
            }

            p {
              font-size: 15px;
              line-height: 25px;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }

  .footer {
    margin: 140px 0;
  
  
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
  
      .footer-container {
        background-color: #2C343E;
        height: 120px;
        margin-right: 0;
        margin-left: 0;
  
        .footer-logo {
  
          img {
            width: 156px;
            margin-left: 15px;
          }
        }
  
        .footer__nav {
          margin-right: 50px;
        }
  
        .social-link {
  
          .social-list{
  
            .social-item {
  
              a {
  
                i {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 48em) {
  .body {
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    width: 375px;

    .header__row {
      margin-top: 20px;

      .header__nav {
        
        .nav-menu {
          opacity: 1;
          position: absolute;
          top: 25px;
          right: 170px;
          cursor: pointer;

          i {
            font-size: 25px;
          }
        }

        nav {
          opacity: 0;
        }
      }
    }
  }

  .main__container {
    background: url(../img/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 20px;
  
    .row {
      
      .main__info {
        text-align: center;
        width: 100%;
        margin-left: 24px;
        margin-top: 55px;
  
        h1 {
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 24px;
        }
      }
    }
  }

  .our-collection {
    margin-top: 120px;

  .container-fluid {

    .row {

      .our-collection__bg {
        left: 60px;
        top: 0;
        font-size: 40px;
      }

      .our-collection__cards {

        .our-collection__card {
          margin-top: 40px;

          .our-collection__card-img {
            width: 100%;
          }

          .our-collection__card-info {
            padding: 0 40px;
  
            p {
              font-size: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
  }

  .cause {

    .container-fluid {

      .cause-container {
    
        &__bg {
          height: 902px;
          width: 100%;
          top: 10px;
        }
        .cause-info {
          padding: 60px 20px 0 20px;
    
          h2 {
            font-size: 28px;
          }

          p {
            margin: 0 20px;
          }
        }
    
        .cause-cards {
          margin: 3rem 0 0 0;
          transform: translate(13%, 0);
          
          &__card {
            padding: 0 0 0 0;
            height: 382px;
            width: 70%;
            margin-bottom: 1.5rem;
            text-align: center;
            
            &-img {
              width: 100%;
              margin-top: 50px;
            }
    
            &-info {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .plan {
    margin-top: 20px;
    text-align: center;
  
    .container-fluid {
  
      .plan-works{
        margin-left: 0;
  
        &__info {
          margin-bottom: 0;
          position: relative;
  
          h3 {
            margin-bottom: 30px;
          }
          .sircle {
            position: absolute;
            opacity: 0;
          }
          .sircle-2 {
            position: absolute;
            opacity: 0;
          }
  
          .sircle-3 {
            position: absolute;
            opacity: 0;
            left: 100px;
          }
  
          .line {
            position: absolute;
            opacity: 0;
            width: 10px;
          }
        }
  
        &__cards {
          margin-top: 55px;
  
          .plan-works__card {

            span {
              font-size: 4.5rem;
              line-height: 4.5rem;
            }

            p {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .footer {
    margin: 100px 0;
  
  
    .container-fluid {
  
      .footer-container {
        height: 346px;
        text-align: center;
        display: block;
        padding-top: 50px;
        background-size: 100% 100%;

  
        .footer-logo {

          img {
            width: 188px;
            margin-left: 0;
          }
        }
  
        .footer__nav {
          margin-right: 20px;

          nav {

            .nav__list{
              margin-top: 35px;

              .nav__item {
                display: block;
                margin-top: 15px;
                
                a {
                  margin-left: 0;
                }
              }
            }
          }
        }
  
        .social-link {
          margin-top: 40px;

          .social-list{
  
            .social-item {
  
              a {
  
                i {
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}